/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color)),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color)),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color));
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  background-color: #f5f7fb;
  color: #4d5b9e;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 8px 8px 0px 8px;
}

h3 {
  font-size: 18px;
  letter-spacing: 4px;
  margin: 5px 10px 10px 10px;
}

button {
  width: 180px;
  height: 50px;
  margin: 25px 25px 10px 0px;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;

  color: #f5f7fb;
  background-color: #4d5b9e;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover {
  -webkit-box-shadow: var(--shadow-elevation-medium);
  box-shadow: var(--shadow-elevation-medium);
}

hr {
  width: 70vw;
  border-top-color: #dbdef0;
  opacity: 0.5;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"]:checked + .choice {
  background-color: #d6dbf5;
  border-color: #d6dbf5;
}

.main {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.yellow-blob {
  position: fixed;
  top: 0;
  right: 0;
}

.blue-blob {
  position: fixed;
  bottom: 0;
  left: 0;
}

.container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 125px;
  margin: 35px;
}

.dropdown {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-indent: 20px;
  height: 40px;
  width: 120%;
  margin: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: var(--shadow-elevation-low);
  box-shadow: var(--shadow-elevation-low);
}

.quiz-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  top: 70px;
  margin: 50px 35px 50px 35px;
}

.question {
  max-width: 90%;
}

.question-statement {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 15px;
  word-wrap: normal;
}

.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 15px 15px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.choice {
  color: #293264;
  border: solid 1px #4d5b9e;

  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  margin: 0 15px 5px 0;
  padding: 6px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.choice:hover {
  border-color: #d6dbf5;
  background-color: #d6dbf5;
}

.choices div {
  margin-bottom: 20px;
}

.correct {
  color: #293264;
  background-color: #94d7a2;
  border: solid 1px #94d7a2;
  border-radius: 8px;
  padding: 2px 12px 2px 12px;
}

.incorrect {
  background-color: #f8bcbc;
  border: solid 1px #f8bcbc;
  border-radius: 8px;
  padding: 2px 12px 2px 12px;
}

.error {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: #f74444;
  margin-top: 10px;
}

.finished {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0 10px 0;
}

.result-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  font-weight: 500;
  font-size: 13px;
  color: #f0f0f0;
  background-color: #4d5b9e;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer span {
  text-align: center;
}

footer span a {
  padding-left: 5px;
  text-decoration: none;
  outline: none;
  color: #fff;
}

footer span a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .container {
    top: 80px;
  }
  .dropdown {
    width: 100%;
  }
}
